Repository pshenmic/platform-explorer, pull requests merged in 2023-10, with the labels that each got.

#64 Implement documents on the frontend
  packages/frontend/package.json
  packages/frontend/src/components/RootComponent.js
  packages/frontend/src/index.css
  packages/frontend/src/index.js
  packages/frontend/src/routes/dataContract/data.contract.route.js
  packages/frontend/src/routes/dataContract/data_contract.css
  packages/frontend/src/routes/dataContract/data_contract.scss
  packages/frontend/src/routes/dataContract/documents_list_item.scss
  packages/frontend/src/routes/document/document.route.js
  packages/frontend/src/routes/document/document.scss
  packages/frontend/src/util/Api.js
Labels: frontend

#70 Implement all Identities state transitions
  packages/indexer/Cargo.lock
  packages/indexer/migrations/V14__add_identities.sql
  packages/indexer/migrations/V15__add_transfers.sql
  packages/indexer/src/entities/data_contract.rs
  packages/indexer/src/entities/document.rs
  packages/indexer/src/entities/identity.rs
  packages/indexer/src/entities/mod.rs
  packages/indexer/src/entities/transfer.rs
  packages/indexer/src/processor/psql/dao/mod.rs
  packages/indexer/src/processor/psql/mod.rs
Labels: Indexer

#75 Extend home page statistics
  packages/api/src/controllers/MainController.js
  packages/api/src/dao/BlocksDAO.js
  packages/frontend/src/routes/home/home.route.js
Labels: backend

#76 Add list of identities retrieval API method
  packages/api/src/controllers/IdentitiesController.js
  packages/api/src/dao/BlocksDAO.js
  packages/api/src/dao/IdentitiesDAO.js
  packages/api/src/routes.js
Labels: backend

#77 Redesign + Identities
  packages/frontend/.env
  packages/frontend/package.json
  packages/frontend/src/components/RootComponent.js
  packages/frontend/src/components/blocks/BlocksList.js
  packages/frontend/src/components/blocks/BlocksList.scss
  packages/frontend/src/components/blocks/BlocksListItem.js
  packages/frontend/src/components/blocks/BlocksListItem.scss
  packages/frontend/src/components/dataContracts/DataContractsList.js
  packages/frontend/src/components/dataContracts/DataContractsList.scss
  packages/frontend/src/components/dataContracts/DataContractsListItem.js
  packages/frontend/src/components/dataContracts/DataContractsListItem.scss
  packages/frontend/src/components/documents/DocumentsList.js
  packages/frontend/src/components/documents/DocumentsList.scss
  packages/frontend/src/components/documents/DocumentsListItem.js
  packages/frontend/src/components/documents/DocumentsListItem.scss
  packages/frontend/src/components/goToHeightForm/GoToHeightForm.js
  packages/frontend/src/components/goToHeightForm/GoToHeightForm.scss
  packages/frontend/src/components/goToHeightForm/go_to_height_form.css
  packages/frontend/src/components/identities/IdentitiesList.js
  packages/frontend/src/components/identities/IdentitiesList.scss
  packages/frontend/src/components/identities/IdentitiesListItem.js
  packages/frontend/src/components/identities/IdentitiesListItem.scss
  packages/frontend/src/components/navbar/Navbar.js
  packages/frontend/src/components/navbar/Navbar.scss
  packages/frontend/src/components/navbar/NavbarMobileMenu.scss
  packages/frontend/src/components/pageSizeSelector/PageSizeSelector.js
  packages/frontend/src/components/pageSizeSelector/PageSizeSelector.scss
  packages/frontend/src/components/pageSizeSelector/page_size_selector.css
  packages/frontend/src/components/search/GlobalSearchInput.js
  packages/frontend/src/components/transactions/TransactionsList.js
  packages/frontend/src/components/transactions/TransactionsList.scss
  packages/frontend/src/components/transactions/TransactionsListItem.js
  packages/frontend/src/components/transactions/TransactionsListItem.scss
  packages/frontend/src/index.css
  packages/frontend/src/index.js
  packages/frontend/src/routes/block/block.css
  packages/frontend/src/routes/block/block.route.js
  packages/frontend/src/routes/blocks/Blocks.scss
  packages/frontend/src/routes/blocks/blocks.css
  packages/frontend/src/routes/blocks/blocks.route.js
  packages/frontend/src/routes/dataContract/DataContract.scss
  packages/frontend/src/routes/dataContract/data.contract.route.js
  packages/frontend/src/routes/dataContract/data_contract.scss
  packages/frontend/src/routes/dataContract/documents_list_item.scss
  packages/frontend/src/routes/dataContracts/data.contracts.route.js
  packages/frontend/src/routes/dataContracts/data_contracts.css
  packages/frontend/src/routes/document/document.route.js
  packages/frontend/src/routes/document/document.scss
  packages/frontend/src/routes/home/home.css
  packages/frontend/src/routes/home/home.route.js
  packages/frontend/src/routes/identities/identities.route.js
  packages/frontend/src/routes/identities/identities.scss
  packages/frontend/src/routes/identity/identity.route.js
  packages/frontend/src/routes/identity/identity.scss
  packages/frontend/src/routes/transaction/transaction.route.js
  packages/frontend/src/styles/mixins.scss
  packages/frontend/src/styles/theme.js
  packages/frontend/src/styles/theme.scss
  packages/frontend/src/styles/variables.scss
  packages/frontend/src/util/Api.js
Labels: frontend
