Repository pshenmic/platform-explorer, pull requests merged in 2024-07, with the labels that each got.

#163 Implement isActive validators filter
  packages/api/README.md
  packages/api/src/controllers/ValidatorsController.js
  packages/api/src/dao/ValidatorsDAO.js
  packages/api/src/models/Validator.js
  packages/api/src/tenderdashRpc.js
  packages/api/test/integration/validators.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#172 Handle Tenderdash RPC race condition & always restart
  .github/workflows/build.yml
  packages/indexer/src/indexer/mod.rs
  packages/indexer/src/processor/psql/mod.rs
Labels: Indexer

#174 Fix proTxHash was not underscored from TD RPC + tests
  packages/api/src/controllers/ValidatorsController.js
  packages/api/src/dao/ValidatorsDAO.js
  packages/api/test/integration/validators.spec.js
Labels: backend

#152 Implement Validators on frontend
  packages/frontend/public/images/icons/coins.svg
  packages/frontend/public/images/icons/nodes.svg
  packages/frontend/public/images/icons/star-check.svg
  packages/frontend/src/app/home/Home.js
  packages/frontend/src/app/validator/[hash]/Validator.js
  packages/frontend/src/app/validator/[hash]/page.js
  packages/frontend/src/app/validators/Validators.js
  packages/frontend/src/app/validators/intro.md
  packages/frontend/src/app/validators/page.js
  packages/frontend/src/components/cards/InfoCard.js
  packages/frontend/src/components/cards/InfoCard.scss
  packages/frontend/src/components/charts/LineChartBlock.js
  packages/frontend/src/components/charts/TransactionsHistory.js
  packages/frontend/src/components/navbar/Navbar.js
  packages/frontend/src/components/total/TotalCards.js
  packages/frontend/src/components/total/ValueBlock.js
  packages/frontend/src/components/total/ValueBlock.scss
  packages/frontend/src/components/ui/Switcher.scss
  packages/frontend/src/components/ui/Table/TableHeaders.js
  packages/frontend/src/components/ui/Table/index.js
  packages/frontend/src/components/ui/index.js
  packages/frontend/src/components/validators/ValidatorsList.js
  packages/frontend/src/components/validators/ValidatorsList.scss
  packages/frontend/src/components/validators/ValidatorsTotal.js
  packages/frontend/src/components/validators/index.js
  packages/frontend/src/styles/components/Table.scss
  packages/frontend/src/styles/variables.scss
  packages/frontend/src/util/Api.js
Labels: frontend

#175 Update Validators list styles
  packages/frontend/src/components/validators/ValidatorsList.js
  packages/frontend/src/components/validators/ValidatorsList.scss
  packages/frontend/src/styles/mixins.scss
Labels: frontend

#167 Add average TPS per epoch endpoint
  packages/api/README.md
  packages/api/package.json
  packages/api/src/constants.js
  packages/api/src/controllers/EpochController.js
  packages/api/src/controllers/MainController.js
  packages/api/src/dao/EpochDAO.js
  packages/api/src/enums/StateTransitionEnum.js
  packages/api/src/models/Epoch.js
  packages/api/src/routes.js
  packages/api/src/server.js
  packages/api/src/utils.js
  packages/api/test/integration/blocks.spec.js
  packages/api/test/integration/data.contracts.spec.js
  packages/api/test/integration/documents.spec.js
  packages/api/test/integration/epochs.spec.js
  packages/api/test/integration/identities.spec.js
  packages/api/test/integration/index.spec.js
  packages/api/test/integration/main.spec.js
  packages/api/test/integration/transactions.spec.js
  packages/api/test/integration/validators.spec.js
  packages/api/test/unit/models/Epoch.spec.js
  packages/api/test/utils/fixtures.js
  packages/frontend/src/app/api/content.md
Labels: backend

#180 Add epoch by index endpoint
  packages/api/README.md
  packages/api/package.json
  packages/api/src/constants.js
  packages/api/src/controllers/EpochController.js
  packages/api/src/controllers/MainController.js
  packages/api/src/dao/EpochDAO.js
  packages/api/src/enums/StateTransitionEnum.js
  packages/api/src/models/Epoch.js
  packages/api/src/routes.js
  packages/api/src/server.js
  packages/api/src/utils.js
  packages/api/test/integration/blocks.spec.js
  packages/api/test/integration/data.contracts.spec.js
  packages/api/test/integration/documents.spec.js
  packages/api/test/integration/epochs.spec.js
  packages/api/test/integration/identities.spec.js
  packages/api/test/integration/index.spec.js
  packages/api/test/integration/main.spec.js
  packages/api/test/integration/transactions.spec.js
  packages/api/test/unit/models/Epoch.spec.js
  packages/api/test/utils/fixtures.js
  packages/frontend/src/app/api/content.md
Labels: backend

#196 Fix display errors in the NetworkStatus
  packages/frontend/src/components/networkStatus/index.js
Labels: frontend

#190 Add network selector
  packages/frontend/public/images/icons/github.png
  packages/frontend/src/components/navbar/Dropdown.js
  packages/frontend/src/components/navbar/Navbar.js
  packages/frontend/src/components/navbar/Navbar.scss
  packages/frontend/src/components/navbar/NetworkSelect.js
  packages/frontend/src/components/navbar/NetworkSelect.scss
  packages/frontend/src/components/ui/NavigationButton/NavigationButton.js
  packages/frontend/src/components/ui/NavigationButton/NavigationButton.scss
  packages/frontend/src/styles/theme.js
Labels: frontend

#186 Update empty list messages style
  packages/frontend/src/components/blocks/BlocksList.js
  packages/frontend/src/components/dataContracts/DataContractsList.js
  packages/frontend/src/components/documents/DocumentsList.js
  packages/frontend/src/components/identities/IdentitiesList.js
  packages/frontend/src/components/lists/index.js
  packages/frontend/src/components/transactions/TransactionsList.js
Labels: frontend

#169 Endpoint to get statistics on proposed blocks for validators
  packages/api/README.md
  packages/api/src/controllers/ValidatorsController.js
  packages/api/src/dao/ValidatorsDAO.js
  packages/api/src/routes.js
  packages/api/test/integration/validators.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#185 Add new data to transaction info
  packages/frontend/src/app/transaction/[hash]/Transaction.js
  packages/frontend/src/components/transactions/TransactionsListItem.js
Labels: frontend

#192 IP address / Port for Validator
  packages/api/.env
  packages/api/README.md
  packages/api/package.json
  packages/api/src/controllers/ValidatorsController.js
  packages/api/src/dashcoreRpc.js
  packages/api/src/models/ProTxInfo.js
  packages/api/src/models/Validator.js
  packages/api/src/server.js
  packages/api/src/tenderdashRpc.js
  packages/api/test/integration/validators.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#195 Validation layer to the API
  packages/api/README.md
  packages/api/src/controllers/BlocksController.js
  packages/api/src/controllers/DataContractsController.js
  packages/api/src/controllers/DocumentsController.js
  packages/api/src/controllers/IdentitiesController.js
  packages/api/src/controllers/MainController.js
  packages/api/src/controllers/TransactionsController.js
  packages/api/src/controllers/ValidatorsController.js
  packages/api/src/routes.js
  packages/api/src/schemas.js
  packages/api/src/server.js
  packages/api/test/integration/data.contracts.spec.js
  packages/api/test/integration/identities.spec.js
  packages/api/test/integration/validators.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#189 Add new Footer design
  packages/frontend/public/images/icons/discord.svg
  packages/frontend/public/images/icons/github.svg
  packages/frontend/public/images/icons/twitter.svg
  packages/frontend/src/components/RootComponent.js
  packages/frontend/src/components/footer/footer.scss
  packages/frontend/src/components/footer/index.js
  packages/frontend/src/components/footer/version.js
  packages/frontend/src/styles/theme.js
Labels: frontend

#198 Upgrade to Dash Platform beta 4
  packages/api/package.json
  packages/api/test/unit/utils.spec.js
  packages/indexer/Cargo.lock
  packages/indexer/Dockerfile
  packages/indexer/src/processor/psql/mod.rs
Labels: Indexer, backend

#199 Change BASE_URL to TENDERDASH_URL
  README.md
  packages/indexer/.env
  packages/indexer/src/indexer/mod.rs
  packages/indexer/src/utils.rs
Labels: Indexer

#200 Fix a client-side bug in the NetworkStatus component
  packages/frontend/src/components/networkStatus/index.js
Labels: frontend

#202 Update the PE data contract in the featured block
  packages/frontend/src/app/dataContracts/Cards.js
Labels: frontend
