Repository pshenmic/platform-explorer, pull requests merged in 2024-08, with the labels that each got.

#208 Handle legacy masternodes in the protx info call
  packages/api/src/controllers/ValidatorsController.js
  packages/api/src/dashcoreRpc.js
Labels: backend

#206 Multi stage docker build
  .github/workflows/build.yml
  packages/indexer/Dockerfile
Labels: Indexer

#166 Implement anchor links
  packages/frontend/src/app/blocks/Blocks.js
  packages/frontend/src/app/blocks/page.js
  packages/frontend/src/app/dataContract/[identifier]/DataContract.js
  packages/frontend/src/app/dataContracts/DataContracts.js
  packages/frontend/src/app/dataContracts/page.js
  packages/frontend/src/app/identities/Identities.js
  packages/frontend/src/app/identities/page.js
  packages/frontend/src/app/identity/[identifier]/Identity.js
  packages/frontend/src/app/transactions/Transactions.js
  packages/frontend/src/app/transactions/page.js
  packages/frontend/src/app/validators/Validators.js
  packages/frontend/src/app/validators/page.js
  packages/frontend/src/components/pageSizeSelector/PageSizeSelector.js
Labels: frontend

#191 Add ability to resize of the data contract schema
  packages/frontend/src/app/dataContract/[identifier]/DataContract.js
  packages/frontend/src/app/dataContract/[identifier]/DataContract.scss
  packages/frontend/src/components/dataContracts/DataContractSchema.js
  packages/frontend/src/components/dataContracts/DataContractSchema.scss
  packages/frontend/src/components/dataContracts/index.js
  packages/frontend/src/components/ui/Buttons/CopyButton.js
  packages/frontend/src/components/ui/Buttons/index.js
  packages/frontend/src/util/copyToClipboard.js
  packages/frontend/src/util/index.js
Labels: frontend

#207 Fonts update to Dash brand fonts
  packages/frontend/src/app/dataContract/[identifier]/DataContract.scss
  packages/frontend/src/components/dataContracts/DataContractCard.scss
  packages/frontend/src/components/documents/DocumentsListItem.scss
  packages/frontend/src/components/intro/Intro.scss
  packages/frontend/src/components/intro/index.js
  packages/frontend/src/components/lists/SimpleList.scss
  packages/frontend/src/components/total/TotalInfoItem.scss
  packages/frontend/src/components/transactions/TransactionsListItem.scss
  packages/frontend/src/components/transfers/TransfersListItem.scss
  packages/frontend/src/components/validators/ValidatorsList.scss
  packages/frontend/src/styles/mixins.scss
  packages/frontend/src/styles/theme.js
  packages/frontend/src/styles/variables.scss
Labels: frontend

#214 Implement chart for validator activity (proposed blocks)
  packages/frontend/src/app/identity/[identifier]/Identity.js
  packages/frontend/src/app/validator/[hash]/BlocksChart.js
  packages/frontend/src/app/validator/[hash]/Validator.js
  packages/frontend/src/components/charts/LineChartBlock.js
  packages/frontend/src/components/charts/ProposedBlocksChart.js
  packages/frontend/src/components/charts/TransactionsHistory.js
  packages/frontend/src/styles/components/Table.scss
  packages/frontend/src/styles/theme.js
  packages/frontend/src/util/Api.js
Labels: frontend

#215 Fix chart size
  packages/frontend/src/app/home/Home.js
  packages/frontend/src/app/transactions/page.js
  packages/frontend/src/components/charts/LineChartBlock.js
Labels: frontend

#216 Removing an duplicated if block in a search
  packages/api/src/controllers/MainController.js
Labels: backend

#217 Improve search component on frontend
  packages/frontend/src/components/search/GlobalSearchInput.js
  packages/frontend/src/util/Api.js
  packages/frontend/src/util/Errors.js
Labels: frontend

#218 Upgrade API to the Dash SDK v1.0.0-rc.2
  packages/api/package.json
  packages/api/test/unit/mocks/documents_batch.json
  packages/api/test/unit/utils.spec.js
  packages/data-contract/package.json
  packages/indexer/Cargo.lock
Labels: Indexer, backend

#226 The total number of identities on /status endpoint
  packages/api/README.md
  packages/api/src/controllers/MainController.js
  packages/api/src/dao/BlocksDAO.js
  packages/api/test/integration/main.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#204 Implement release flow (CI)
  .github/release-drafter.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Labels: Indexer, frontend, backend

#223 Information on the best validator for the no-transaction epoch
  packages/api/src/dao/EpochDAO.js
  packages/api/src/models/EpochData.js
Labels: backend

#213 API container size reduce
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  packages/api/Dockerfile
Labels: data contract

#205 Data contract utility update
  packages/data-contract/.env
  packages/data-contract/README.md
  packages/data-contract/document.json
  packages/data-contract/index.js
  packages/data-contract/package.json
  packages/data-contract/src/actions/deployContract.js
  packages/data-contract/src/actions/pushDocument.js
  packages/data-contract/src/actions/registerIdentity.js
  packages/data-contract/src/utils.js
Labels: data contract

#237 Upgrade to Dash Platform v1.1.0
  packages/api/package.json
  packages/data-contract/package.json
  packages/indexer/Cargo.lock
  packages/indexer/Dockerfile
Labels: data contract, Indexer, backend
