Repository pshenmic/platform-explorer, pull requests merged in 2024-05, with the labels that each got.

#120 Add transaction history API
  packages/api/README.md
  packages/api/src/controllers/TransactionsController.js
  packages/api/src/dao/TransactionsDAO.js
  packages/api/src/models/SeriesData.js
  packages/api/src/routes.js
  packages/api/test/integration/transactions.spec.js
  packages/api/test/utils/fixtures.js
  packages/frontend/src/app/api/content.md
  packages/indexer/migrations/V27__make_blocks_timestamps_zoned.sql
Labels: backend

#114 Add epoch info in the getStats API
  packages/api/.env
  packages/api/README.md
  packages/api/src/controllers/MainController.js
  packages/api/src/tenderdashRpc.js
  packages/api/test/integration/main.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#119 Add validators support
  packages/api/src/controllers/ValidatorsController.js
  packages/api/src/dao/BlocksDAO.js
  packages/api/src/dao/ValidatorsDAO.js
  packages/api/src/models/BlockHeader.js
  packages/api/src/models/Validator.js
  packages/api/src/routes.js
  packages/api/src/server.js
  packages/api/test/integration/blocks.spec.js
  packages/api/test/integration/main.spec.js
  packages/api/test/integration/validators.spec.js
  packages/api/test/utils/drop.js
  packages/api/test/utils/fixtures.js
  packages/frontend/src/app/block/[hash]/Block.js
  packages/indexer/migrations/V30__add_validators.sql
  packages/indexer/migrations/V31__add_block_validator.sql
  packages/indexer/src/entities/block_header.rs
  packages/indexer/src/entities/data_contract.rs
  packages/indexer/src/entities/mod.rs
  packages/indexer/src/entities/validator.rs
  packages/indexer/src/indexer/mod.rs
  packages/indexer/src/main.rs
  packages/indexer/src/models/mod.rs
  packages/indexer/src/processor/psql/dao/mod.rs
  packages/indexer/src/processor/psql/mod.rs
  packages/indexer/src/utils.rs
Labels: Indexer, backend

#123 Fix sorting by documents count implementation
  packages/api/src/dao/DataContractsDAO.js
  packages/api/src/dao/IdentitiesDAO.js
  packages/api/test/integration/data.contracts.spec.js
  packages/api/test/integration/main.spec.js
  packages/api/test/utils/fixtures.js
Labels: frontend

#107 Improve home page
  packages/frontend/package.json
  packages/frontend/public/images/icons/block.svg
  packages/frontend/public/images/icons/data-contract.svg
  packages/frontend/public/images/icons/document.svg
  packages/frontend/public/images/icons/transactions.svg
  packages/frontend/public/images/icons/transfers.svg
  packages/frontend/src/app/dataContract/[identifier]/DataContract.js
  packages/frontend/src/app/home/Home.js
  packages/frontend/src/app/home/intro.md
  packages/frontend/src/components/charts/charts.scss
  packages/frontend/src/components/charts/index.js
  packages/frontend/src/components/intro/index.js
  packages/frontend/src/components/lists/SimpleList.scss
  packages/frontend/src/components/lists/index.js
  packages/frontend/src/components/networkStatus/NetworkStatus.scss
  packages/frontend/src/components/networkStatus/index.js
  packages/frontend/src/components/​totalInfo/TotalInfo.scss
  packages/frontend/src/components/​totalInfo/TotalInfoItem.scss
  packages/frontend/src/components/​totalInfo/index.js
  packages/frontend/src/styles/components/ChartBlock.scss
  packages/frontend/src/styles/theme.scss
  packages/frontend/src/util/Api.js
Labels: frontend

#125 Parse initial identity balance from L1 transaction assetlock
  packages/indexer/src/entities/identity.rs
  packages/indexer/src/processor/psql/mod.rs
Labels: Indexer

#124 Add linter for frontend package
  .github/workflows/build.yml
  packages/frontend/.eslintrc.json
  packages/frontend/package.json
  packages/frontend/src/app/api/page.js
  packages/frontend/src/app/block/[hash]/Block.js
  packages/frontend/src/app/block/[hash]/page.js
  packages/frontend/src/app/blocks/Blocks.js
  packages/frontend/src/app/blocks/page.js
  packages/frontend/src/app/dataContract/[identifier]/DataContract.js
  packages/frontend/src/app/dataContract/[identifier]/page.js
  packages/frontend/src/app/dataContracts/DataContracts.js
  packages/frontend/src/app/dataContracts/page.js
  packages/frontend/src/app/document/[identifier]/Document.js
  packages/frontend/src/app/document/[identifier]/page.js
  packages/frontend/src/app/enums/state.transition.type.js
  packages/frontend/src/app/error/error.route.js
  packages/frontend/src/app/home/Home.js
  packages/frontend/src/app/identities/Identities.js
  packages/frontend/src/app/identities/page.js
  packages/frontend/src/app/identity/[identifier]/Identity.js
  packages/frontend/src/app/identity/[identifier]/page.js
  packages/frontend/src/app/layout.js
  packages/frontend/src/app/page.js
  packages/frontend/src/app/transaction/[hash]/Transaction.js
  packages/frontend/src/app/transaction/[hash]/page.js
  packages/frontend/src/app/transactions/Transactions.js
  packages/frontend/src/app/transactions/page.js
  packages/frontend/src/components/RootComponent.js
  packages/frontend/src/components/blocks/BlocksList.js
  packages/frontend/src/components/blocks/BlocksListItem.js
  packages/frontend/src/components/charts/index.js
  packages/frontend/src/components/dataContracts/DataContractsList.js
  packages/frontend/src/components/dataContracts/DataContractsListItem.js
  packages/frontend/src/components/documents/DocumentsList.js
  packages/frontend/src/components/documents/DocumentsListItem.js
  packages/frontend/src/components/goToHeightForm/GoToHeightForm.js
  packages/frontend/src/components/identities/IdentitiesList.js
  packages/frontend/src/components/identities/IdentitiesListItem.js
  packages/frontend/src/components/intro/index.js
  packages/frontend/src/components/lists/index.js
  packages/frontend/src/components/markdown/HeadingRenderer.js
  packages/frontend/src/components/markdown/index.js
  packages/frontend/src/components/modalWindow/index.js
  packages/frontend/src/components/navbar/Navbar.js
  packages/frontend/src/components/networkStatus/index.js
  packages/frontend/src/components/pageSizeSelector/PageSizeSelector.js
  packages/frontend/src/components/pagination/index.js
  packages/frontend/src/components/search/GlobalSearchInput.js
  packages/frontend/src/components/transactions/TransactionsList.js
  packages/frontend/src/components/transactions/TransactionsListItem.js
  packages/frontend/src/components/transfers/TransfersList.js
  packages/frontend/src/components/transfers/TransfersListItem.js
  packages/frontend/src/components/​totalInfo/index.js
  packages/frontend/src/reportWebVitals.js
  packages/frontend/src/setupTests.js
  packages/frontend/src/styles/theme.js
  packages/frontend/src/util/Api.js
  packages/frontend/src/util/index.js
Labels: frontend

#128 Fix setting data after fetch error
  packages/frontend/src/app/home/Home.js
Labels: frontend

#129 Add prometheus metrics
  packages/api/package.json
  packages/api/src/server.js
Labels: backend

#131 Add data_contract_id index
  packages/indexer/migrations/V34__data_contract_id_indexes.sql
Labels: Indexer

#132 Add condition for chart display
  packages/frontend/src/app/home/Home.js
  packages/frontend/src/components/charts/index.js
Labels: frontend

#133 Implement async fetch loading
  .github/workflows/build.yml
  packages/frontend/src/app/blocks/Blocks.js
  packages/frontend/src/app/dataContract/[identifier]/DataContract.js
  packages/frontend/src/app/dataContracts/DataContracts.js
  packages/frontend/src/app/home/Home.js
  packages/frontend/src/app/identities/Identities.js
  packages/frontend/src/app/transactions/Transactions.js
  packages/frontend/src/components/charts/charts.scss
  packages/frontend/src/components/charts/index.js
  packages/frontend/src/components/lists/SimpleList.scss
  packages/frontend/src/components/lists/index.js
  packages/frontend/src/components/networkStatus/NetworkStatus.scss
  packages/frontend/src/components/networkStatus/index.js
  packages/frontend/src/components/​totalInfo/TotalInfoItem.scss
  packages/frontend/src/components/​totalInfo/index.js
  packages/frontend/src/styles/components/ChartBlock.scss
  packages/frontend/src/styles/mixins.scss
  packages/frontend/src/styles/theme.scss
Labels: frontend

#134 Fix getIdentities route slowdown
  packages/api/src/dao/IdentitiesDAO.js
  packages/indexer/migrations/V33__identifier_indexes.sql
  packages/indexer/migrations/V35__document_identifier_id_index.sql
Labels: backend

#137 Parse identity balance from ChainLock
  packages/indexer/.env
  packages/indexer/Cargo.lock
  packages/indexer/Cargo.toml
  packages/indexer/src/entities/identity.rs
Labels: Indexer

#135 Implement async data load and error messages
  packages/frontend/src/app/block/[hash]/Block.js
  packages/frontend/src/app/blocks/Blocks.js
  packages/frontend/src/app/dataContract/[identifier]/DataContract.js
  packages/frontend/src/app/dataContract/[identifier]/DataContract.scss
  packages/frontend/src/app/dataContracts/DataContracts.js
  packages/frontend/src/app/document/[identifier]/Document.js
  packages/frontend/src/app/home/Home.js
  packages/frontend/src/app/identities/Identities.js
  packages/frontend/src/app/identity/[identifier]/Identity.js
  packages/frontend/src/app/transaction/[hash]/Transaction.js
  packages/frontend/src/app/transaction/[hash]/TransactionData.js
  packages/frontend/src/app/transactions/Transactions.js
  packages/frontend/src/app/transactions/Transactions.scss
  packages/frontend/src/components/Errors/index.js
  packages/frontend/src/components/goToHeightForm/GoToHeightForm.js
  packages/frontend/src/components/lists/SimpleList.scss
  packages/frontend/src/components/lists/index.js
  packages/frontend/src/components/loading/LoadingBlock.scss
  packages/frontend/src/components/loading/LoadingLine.scss
  packages/frontend/src/components/loading/LoadingList.scss
  packages/frontend/src/components/loading/index.js
  packages/frontend/src/styles/components/ChartBlock.scss
  packages/frontend/src/styles/mixins.scss
  packages/frontend/src/styles/theme.js
  packages/frontend/src/styles/theme.scss
  packages/frontend/src/util/index.js
Labels: frontend
