Repository pshenmic/platform-explorer, pull requests merged in 2024-12, with the labels that each got.

#349 Add transaction model in blocks route
  packages/api/README.md
  packages/api/src/controllers/BlocksController.js
  packages/api/src/controllers/MainController.js
  packages/api/src/dao/BlocksDAO.js
  packages/api/src/server.js
  packages/api/test/integration/main.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#352 CI deploy for testnet fix
  .github/workflows/build.yml
Labels: data contract, frontend, backend, design

#353 Implement clock and time zone info in Footer
  packages/frontend/src/components/layout/footer/LocalTime.js
  packages/frontend/src/components/layout/footer/LocalTime.scss
  packages/frontend/src/components/layout/footer/footer.scss
  packages/frontend/src/components/layout/footer/index.js
  packages/frontend/src/components/ui/icons/index.js
Labels: frontend

#358 Transactions gas history series
  packages/api/README.md
  packages/api/src/controllers/TransactionsController.js
  packages/api/src/dao/TransactionsDAO.js
  packages/api/src/routes.js
  packages/api/test/integration/transactions.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#355 Home page styles update
  packages/frontend/src/app/home/Home.js
  packages/frontend/src/components/total/TotalInfo.js
  packages/frontend/src/components/ui/lists/index.js
Labels: frontend

#337 Add tooltip to withdrawals status
  packages/frontend/src/components/transfers/withdrawals/StatusIcon.js
Labels: frontend

#336 Fix transactions list on home page
  packages/frontend/src/app/home/Home.js
Labels: frontend

#344 Transactions list on block page
  packages/frontend/src/app/block/[hash]/Block.js
  packages/frontend/src/app/home/Home.js
  packages/frontend/src/components/transactions/TransactionsList.js
  packages/frontend/src/components/transactions/TransactionsListItem.js
  packages/frontend/src/components/transactions/TransactionsListItem.scss
  packages/frontend/src/styles/mixins.scss
Labels: frontend

#356 New logic for search in API
  packages/api/README.md
  packages/api/src/controllers/IdentitiesController.js
  packages/api/src/controllers/MainController.js
  packages/api/src/dao/BlocksDAO.js
  packages/api/src/dao/DataContractsDAO.js
  packages/api/src/dao/IdentitiesDAO.js
  packages/api/src/dao/TransactionsDAO.js
  packages/api/src/utils.js
  packages/api/test/integration/identities.spec.js
  packages/api/test/integration/main.spec.js
  packages/api/test/integration/transactions.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#367 Packages versions fix
  packages/api/README.md
  packages/api/package.json
  packages/api/src/controllers/MainController.js
  packages/api/test/integration/main.spec.js
  packages/data-contract/package.json
  packages/frontend/src/app/api/content.md
Labels: backend

#366 Status versions from DAPI
  packages/api/README.md
  packages/api/package.json
  packages/api/src/DAPI.js
  packages/api/src/controllers/MainController.js
  packages/api/test/integration/main.spec.js
  packages/frontend/src/app/api/content.md
  packages/indexer/Cargo.lock
  packages/indexer/Dockerfile
  packages/indexer/src/entities/data_contract.rs
  packages/indexer/src/entities/identity.rs
  packages/indexer/src/processor/psql/mod.rs
Labels: backend

#368 Add transaction hash in the identity names
  packages/api/test/integration/identities.spec.js
  packages/api/test/integration/main.spec.js
  packages/api/test/integration/transactions.spec.js
  packages/api/test/utils/fixtures.js
  packages/indexer/migrations/V43__add_identity_alias_st_hash.sql
  packages/indexer/src/processor/psql/dao/mod.rs
  packages/indexer/src/processor/psql/mod.rs
Labels: indexer

#374 Update transactions list format
  packages/frontend/src/app/block/[hash]/Block.js
  packages/frontend/src/components/transactions/TransactionsList.js
  packages/frontend/src/components/transactions/TransactionsListItem.js
Labels: frontend

#362 Fix LocalTime render
  packages/frontend/src/components/layout/footer/LocalTime.js
Labels: frontend

#375 Transaction decode nonce error fix
  packages/api/src/utils.js
  packages/api/test/unit/utils.spec.js
Labels: backend

#361 Implement Christmas elements
  packages/frontend/public/images/christmas-hat.svg
  packages/frontend/public/images/grain-texture.jpg
  packages/frontend/public/images/grain-texture.png
  packages/frontend/public/images/icons/block-present.svg
  packages/frontend/src/app/dataContract/[identifier]/DataContract.js
  packages/frontend/src/app/home/Home.js
  packages/frontend/src/app/identity/[identifier]/Identity.js
  packages/frontend/src/components/blocks/BlocksTotal.js
  packages/frontend/src/components/breadcrumbs/Breadcrumbs.scss
  packages/frontend/src/components/data/Identifier.scss
  packages/frontend/src/components/imageGenerator/ImageGenerator.scss
  packages/frontend/src/components/imageGenerator/index.js
  packages/frontend/src/components/layout/Background.js
  packages/frontend/src/components/layout/Background.scss
  packages/frontend/src/components/layout/RootComponent.js
  packages/frontend/src/components/layout/Snow.js
  packages/frontend/src/components/layout/Snow.scss
  packages/frontend/src/components/total/TotalCards.js
  packages/frontend/src/components/total/TotalInfo.js
  packages/frontend/src/components/total/TotalInfoItem.scss
  packages/frontend/src/components/total/ValueBlock.js
  packages/frontend/src/components/total/ValueBlock.scss
  packages/frontend/src/components/transactions/TransactionsListItem.scss
  packages/frontend/src/components/validators/ValidatorCard.js
  packages/frontend/src/styles/components/Table.scss
  packages/frontend/src/styles/mixins.scss
Labels: frontend

#376 Update versions render in NetworkStatus
  packages/frontend/src/components/networkStatus/NetworkStatus.scss
  packages/frontend/src/components/networkStatus/index.js
Labels: frontend

#347 User fee increase for the MasternodeVote in decodeStateTransition
  packages/api/src/utils.js
  packages/api/test/unit/utils.spec.js
Labels: backend

#378 Identity topUps and withdrawals amount
  packages/api/README.md
  packages/api/src/controllers/MainController.js
  packages/api/src/dao/IdentitiesDAO.js
  packages/api/src/models/Identity.js
  packages/api/test/integration/identities.spec.js
  packages/api/test/integration/main.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#373 Add document transition type and document type name
  packages/api/test/utils/fixtures.js
  packages/indexer/migrations/V43__add_document_transition_type.sql
  packages/indexer/migrations/V44__add_document_type_name.sql
  packages/indexer/src/entities/document.rs
  packages/indexer/src/entities/identity.rs
  packages/indexer/src/processor/psql/dao/mod.rs
  packages/indexer/src/processor/psql/mod.rs
Labels: indexer, backend

#380 Improve network status check
  packages/frontend/src/components/networkStatus/index.js
Labels: frontend

#381 Global search fix
  packages/frontend/src/components/search/GlobalSearchInput.js
Labels: frontend

#382 Identity Public keys structure fix
  packages/api/src/dao/IdentitiesDAO.js
  packages/api/src/utils.js
  packages/api/test/unit/utils.spec.js
Labels: backend

#383 Identity page hotfixes
  packages/frontend/src/app/identity/[identifier]/Identity.js
  packages/frontend/src/components/publicKeys/PublicKeysListItem.js
  packages/frontend/src/components/publicKeys/PublicKeysListItem.scss
  packages/frontend/src/components/publicKeys/_variables.scss
  packages/frontend/src/components/transactions/TypeBadge.js
  packages/frontend/src/components/transfers/TransfersList.js
  packages/frontend/src/components/transfers/TransfersListItem.js
  packages/frontend/src/components/transfers/TypeBadge.js
  packages/frontend/src/enums/state.transition.type.js
  packages/frontend/src/util/index.js
Labels: frontend

#369 Improve documents list
  packages/frontend/src/app/dataContract/[identifier]/DataContract.js
  packages/frontend/src/components/documents/DocumentsList.js
  packages/frontend/src/components/documents/DocumentsList.scss
  packages/frontend/src/components/documents/DocumentsListItem.js
  packages/frontend/src/components/documents/DocumentsListItem.scss
  packages/frontend/src/components/documents/_variables.scss
  packages/frontend/src/components/transactions/TransactionsList.js
Labels: frontend

#385 Update tabs style
  packages/frontend/src/styles/components/Tabs.js
Labels: frontend

#386 Update Identifiers styles on the specific Validator page
  packages/frontend/src/app/validator/[hash]/ValidatorPage.scss
  packages/frontend/src/components/validators/ValidatorCard.js
  packages/frontend/src/components/validators/ValidatorCard.scss
Labels: frontend

#388 Embed pshenmic logo in footer
  packages/frontend/src/components/layout/footer/footer.scss
  packages/frontend/src/components/layout/footer/index.js
  packages/frontend/src/components/ui/icons/index.js
Labels: frontend

#363 Update back button
  packages/frontend/src/app/dataContract/[identifier]/DataContract.js
  packages/frontend/src/app/identity/[identifier]/Identity.js
  packages/frontend/src/app/transaction/[hash]/TransactionPage.js
  packages/frontend/src/app/validator/[hash]/Validator.js
  packages/frontend/src/components/ui/Buttons/BackButton.js
  packages/frontend/src/components/ui/Buttons/index.js
  packages/frontend/src/components/ui/containers/PageDataContainer.js
  packages/frontend/src/components/ui/containers/PageDataContainer.scss
Labels: frontend

#387 Update pagination styles
  packages/frontend/src/components/pagination/Pagination.scss
  packages/frontend/src/components/pagination/index.js
Labels: frontend

#338 Improve transaction page
  packages/frontend/src/app/transaction/[hash]/TransactionData.js
  packages/frontend/src/app/transaction/[hash]/TransactionPage.js
  packages/frontend/src/app/transaction/[hash]/TransactionPage.scss
  packages/frontend/src/components/cards/ValueCard.js
  packages/frontend/src/components/cards/ValueCard.scss
  packages/frontend/src/components/data/PrefundedBalance.js
  packages/frontend/src/components/data/PrefundedBalance.scss
  packages/frontend/src/components/data/VoteChoice.js
  packages/frontend/src/components/data/VoteChoice.scss
  packages/frontend/src/components/data/index.js
  packages/frontend/src/components/transactions/PublicKeyCard.scss
  packages/frontend/src/components/transactions/TransactionStatusBadge.js
  packages/frontend/src/components/transactions/TransactionStatusBadge.scss
  packages/frontend/src/components/transactions/TransitionCard.js
  packages/frontend/src/components/transactions/TransitionCard.scss
  packages/frontend/src/components/transactions/_variables.scss
  packages/frontend/src/components/transactions/index.js
  packages/frontend/src/components/ui/icons/index.js
Labels: frontend

#390 Indexer hotfixes
  packages/indexer/migrations/V44__add_identity_alias_st_hash.sql
  packages/indexer/migrations/V45__add_document_type_name.sql
  packages/indexer/src/processor/psql/dao/mod.rs
Labels: indexer

#392 Aliases status fix
  packages/api/src/utils.js
Labels: backend

#391 Update Aliases status
  packages/frontend/src/components/data/Alias.js
  packages/frontend/src/components/data/Alias.scss
  packages/frontend/src/styles/theme.js
Labels: frontend

#395 Aliases status fix
  packages/api/src/utils.js
  packages/api/test/unit/utils.spec.js
Labels: backend

#397 Update description on Identities page
  packages/frontend/src/app/identities/intro.md
Labels: frontend

#396 Remove Alias status Tooltip in lists
  packages/frontend/src/components/data/Alias.js
  packages/frontend/src/components/identities/Cards.js
  packages/frontend/src/components/identities/IdentitiesListItem.js
Labels: frontend

#393 Fix nested link warning
  packages/frontend/src/components/documents/DocumentsListItem.js
Labels: frontend

#404 Fix pagination of documents on Identity page
  packages/frontend/src/app/identity/[identifier]/Identity.js
Labels: frontend

#405 `setPublicKeyIdsToDisable` error fix
  packages/api/src/utils.js
Labels: backend
