Repository pshenmic/platform-explorer, pull requests merged in 2024-06, with the labels that each got.

#139 Fix list navigation
  packages/frontend/src/app/blocks/Blocks.js
  packages/frontend/src/app/dataContract/[identifier]/DataContract.js
  packages/frontend/src/app/dataContracts/DataContracts.js
  packages/frontend/src/app/identities/Identities.js
  packages/frontend/src/app/transactions/Transactions.js
  packages/frontend/src/components/pagination/index.js
Labels: frontend

#141 Parse transaction fee and transaction status from block results
  packages/api/package.json
  packages/api/test/unit/mocks/data_contract_create.json
  packages/api/test/unit/mocks/data_contract_update.json
  packages/api/test/unit/utils.spec.js
  packages/api/test/utils/fixtures.js
  packages/indexer/migrations/V36__add_transaction_gas.sql
  packages/indexer/migrations/V37__add_transaction_status.sql
  packages/indexer/migrations/V38__add_transaction_error.sql
  packages/indexer/src/entities/block.rs
  packages/indexer/src/entities/identity.rs
  packages/indexer/src/indexer/mod.rs
  packages/indexer/src/models/mod.rs
  packages/indexer/src/processor/psql/dao/mod.rs
  packages/indexer/src/processor/psql/mod.rs
  packages/indexer/src/utils.rs
Labels: Indexer

#142 Add DPNS names (identity aliases)
  README.md
  packages/api/test/utils/drop.js
  packages/indexer/migrations/V39__add_identity_aliases.sql
  packages/indexer/src/entities/identity.rs
  packages/indexer/src/processor/psql/dao/mod.rs
  packages/indexer/src/processor/psql/mod.rs
Labels: Indexer

#143 Add transaction fee, status and error message
  packages/api/README.md
  packages/api/src/dao/IdentitiesDAO.js
  packages/api/src/dao/TransactionsDAO.js
  packages/api/src/models/Transaction.js
  packages/api/test/integration/identities.spec.js
  packages/api/test/integration/main.spec.js
  packages/api/test/integration/transactions.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#145 Refactor /status endpoint
  packages/api/README.md
  packages/api/src/controllers/MainController.js
  packages/api/src/dao/BlocksDAO.js
  packages/api/src/tenderdashRpc.js
  packages/api/test/integration/main.spec.js
  packages/frontend/src/app/api/content.md
  packages/indexer/src/indexer/mod.rs
Labels: backend

#148 Add tenderdash block timestamp in the status
  packages/api/README.md
  packages/api/src/controllers/MainController.js
  packages/api/src/tenderdashRpc.js
  packages/api/test/integration/main.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#147 Improve network status block
  packages/frontend/src/app/home/Home.js
  packages/frontend/src/components/networkStatus/NetworkStatus.scss
  packages/frontend/src/components/networkStatus/index.js
Labels: frontend

#149 Replace block_results with async map + tx_result
  packages/indexer/src/indexer/mod.rs
  packages/indexer/src/models/mod.rs
  packages/indexer/src/processor/psql/mod.rs
  packages/indexer/src/utils.rs
Labels: Indexer

#140 Initial PE Data Contract
  .github/workflows/build.yml
  .gitignore
  packages/data-contract/.env
  packages/data-contract/README.md
  packages/data-contract/index.js
  packages/data-contract/package.json
Labels: data contract

#153 Implement custom data contract names
  packages/api/README.md
  packages/api/src/dao/DataContractsDAO.js
  packages/api/src/dao/IdentitiesDAO.js
  packages/api/src/models/DataContract.js
  packages/api/test/integration/data.contracts.spec.js
  packages/api/test/integration/identities.spec.js
  packages/api/test/integration/main.spec.js
  packages/api/test/utils/fixtures.js
  packages/data-contract/index.js
  packages/data-contract/schema.json
  packages/frontend/src/app/api/content.md
  packages/frontend/src/app/dataContract/[identifier]/DataContract.js
  packages/frontend/src/components/dataContracts/DataContractsListItem.js
  packages/indexer/.env
  packages/indexer/migrations/V40__add_data_contract_name.sql
  packages/indexer/src/entities/data_contract.rs
  packages/indexer/src/indexer/mod.rs
  packages/indexer/src/processor/psql/dao/mod.rs
  packages/indexer/src/processor/psql/mod.rs
Labels: Indexer, frontend, backend

#155 Search handler fix
  packages/frontend/src/components/search/GlobalSearchInput.js
Labels: frontend

#159 Add block hash in the /status route
  packages/api/README.md
  packages/api/src/controllers/MainController.js
  packages/api/src/tenderdashRpc.js
  packages/api/test/integration/main.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#158 Fix latest block field in the network status
  packages/frontend/src/app/home/Home.js
  packages/frontend/src/components/networkStatus/index.js
Labels: frontend

#160 Fix network status timer
  packages/frontend/src/components/networkStatus/index.js
Labels: frontend

#161 Extend returning info in the getValidators() API
  packages/api/README.md
  packages/api/src/dao/ValidatorsDAO.js
  packages/api/src/models/Validator.js
  packages/api/test/integration/validators.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#164 Add new data contracts to the cards block
  packages/frontend/src/app/dataContracts/Cards.js
  packages/frontend/src/components/cards/CardsGrid.js
  packages/frontend/src/components/cards/CardsGrid.scss
  packages/frontend/src/components/dataContracts/Cards.js
Labels: frontend
