Repository pshenmic/platform-explorer, pull requests merged in 2025-01, with the labels that each got.

#364 Quorum info for specific block route
  packages/api/README.md
  packages/api/package.json
  packages/api/src/controllers/BlocksController.js
  packages/api/src/dao/BlocksDAO.js
  packages/api/src/dashcoreRpc.js
  packages/api/src/enums/QuorumTypeEnum.js
  packages/api/src/models/BlockHeader.js
  packages/api/src/models/Quorum.js
  packages/api/test/integration/blocks.spec.js
  packages/api/test/integration/main.spec.js
  packages/api/test/integration/validators.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#322 Documents from DAPI
  packages/api/README.md
  packages/api/src/DAPI.js
  packages/api/src/controllers/DocumentsController.js
  packages/api/src/controllers/IdentitiesController.js
  packages/api/src/dao/DocumentsDAO.js
  packages/api/src/dao/IdentitiesDAO.js
  packages/api/src/models/Document.js
  packages/api/src/routes.js
  packages/api/src/schemas.js
  packages/api/src/server.js
  packages/api/test/integration/documents.spec.js
  packages/api/test/integration/identities.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#377 Nonce and version for decoded state transitions
  packages/api/src/utils.js
  packages/api/test/unit/utils.spec.js
Labels: backend

#394 Entropy field for Documents batch
  packages/api/README.md
  packages/api/src/utils.js
  packages/api/test/unit/utils.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#403 Indexer syncing progress for `/status`
  packages/api/README.md
  packages/api/src/controllers/MainController.js
  packages/api/test/integration/main.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#408 Decoded Document Batch Tx Nonce
  packages/api/src/utils.js
  packages/api/test/unit/utils.spec.js
Labels: backend

#409 Aliases structure fix
  packages/api/src/utils.js
  packages/api/test/unit/utils.spec.js
Labels: backend

#415 Fix document action enum
  packages/frontend/src/enums/documentAction.js
Labels: frontend

#416 Fix scrollbar of public keys list
  packages/frontend/src/components/publicKeys/PublicKeysList.scss
Labels: frontend

#417 Set current year in footer dynamically
  packages/frontend/src/components/layout/footer/index.js
Labels: frontend

#418 Masternode votes in the indexer
  packages/indexer/migrations/V46__add_masternode_votes.sql
  packages/indexer/src/entities/masternode_vote.rs
  packages/indexer/src/entities/mod.rs
  packages/indexer/src/processor/psql/dao/mod.rs
  packages/indexer/src/processor/psql/mod.rs
Labels: indexer

#365 Blocks list filters and `totalGasUsed` field
  packages/api/README.md
  packages/api/src/controllers/BlocksController.js
  packages/api/src/controllers/MainController.js
  packages/api/src/dao/BlocksDAO.js
  packages/api/src/models/BlockHeader.js
  packages/api/src/schemas.js
  packages/api/test/integration/blocks.spec.js
  packages/api/test/integration/main.spec.js
  packages/api/test/integration/validators.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#410 Quorums and DashcoreRPC code duplication fixes
  packages/api/src/controllers/BlocksController.js
  packages/api/src/dashcoreRpc.js
Labels: backend

#411 Document Batch Action Enum fix
  packages/api/src/enums/DocumentActionEnum.js
Labels: backend

#426 Entropy error fix
  packages/api/src/utils.js
Labels: backend

#429 Add WalletUtils contract
  packages/frontend/src/app/dataContracts/Cards.js
  packages/indexer/src/processor/psql/mod.rs
Labels: indexer

#432 Fix of documents from dapi search and documentation
  packages/api/README.md
  packages/api/src/controllers/DocumentsController.js
  packages/frontend/src/app/api/content.md
Labels: backend

#434 Index prefunded voting balance in the documents
  packages/indexer/migrations/V47__add_prefunded_voting_balance.sql
  packages/indexer/src/entities/document.rs
  packages/indexer/src/processor/psql/dao/mod.rs
  packages/indexer/src/processor/psql/mod.rs
Labels: indexer

#422 Disable Christmas elements
  packages/frontend/src/app/dataContract/[identifier]/DataContract.js
  packages/frontend/src/app/home/Home.js
  packages/frontend/src/components/identities/IdentityTotalCard.js
  packages/frontend/src/components/layout/RootComponent.js
  packages/frontend/src/components/validators/ValidatorCard.js
Labels: frontend

#435 Fix pagination of lists on the Identity page
  packages/frontend/src/util/Api.js
Labels: frontend

#433 Update documents request to api
  packages/frontend/src/app/document/[identifier]/Document.js
  packages/frontend/src/components/transfers/withdrawals/WithdrawalsListItem.js
  packages/frontend/src/util/Api.js
Labels: frontend

#423 Remove trailing zeros
  packages/frontend/src/components/data/CreditsBlock.js
  packages/frontend/src/components/ui/Tooltips/RateTooltip.js
  packages/frontend/src/util/index.js
Labels: frontend

#421 Update smooth size container
  packages/frontend/src/components/ui/containers/SmoothSize.js
Labels: frontend

#427 Fix transaction breadcrumbs
  packages/frontend/src/app/transaction/[hash]/TransactionPage.js
Labels: frontend

#428 Refactoring code of theme.js
  packages/frontend/src/styles/colors.js
  packages/frontend/src/styles/components/Badge.js
  packages/frontend/src/styles/components/Button.js
  packages/frontend/src/styles/components/Progress.js
  packages/frontend/src/styles/global.js
  packages/frontend/src/styles/theme.js
Labels: frontend

#430 Improve charts on the Validator page
  packages/frontend/src/app/validator/[hash]/BlocksChart.js
  packages/frontend/src/app/validator/[hash]/RewardsChart.js
  packages/frontend/src/app/validator/[hash]/Validator.js
  packages/frontend/src/components/charts/TabsChartBlock.js
  packages/frontend/src/components/charts/TabsChartBlock.scss
  packages/frontend/src/components/charts/TimeframeMenu.js
  packages/frontend/src/components/charts/TimeframeSelector.js
  packages/frontend/src/components/charts/index.js
Labels: frontend

#420 Update pagination styles
  packages/frontend/package.json
  packages/frontend/src/app/blocks/Blocks.js
  packages/frontend/src/app/blocks/Blocks.scss
  packages/frontend/src/app/dataContracts/DataContracts.js
  packages/frontend/src/app/identities/Identities.js
  packages/frontend/src/app/transactions/Transactions.js
  packages/frontend/src/app/validators/Validators.js
  packages/frontend/src/components/pageSizeSelector/PageSizeSelector.js
  packages/frontend/src/components/pagination/Pagination.scss
  packages/frontend/src/components/pagination/index.js
  packages/frontend/src/components/ui/Select/Select.scss
  packages/frontend/src/components/ui/Select/index.js
  packages/frontend/src/styles/components/InfoBlock.scss
Labels: frontend

#424 Implement time update function
  packages/frontend/src/app/validator/[hash]/Validator.js
  packages/frontend/src/components/data/DateBlock.js
  packages/frontend/src/components/data/TimeDelta.js
  packages/frontend/src/components/data/index.js
  packages/frontend/src/components/documents/DocumentsListItem.js
  packages/frontend/src/components/layout/footer/LocalTime.js
  packages/frontend/src/components/networkStatus/index.js
  packages/frontend/src/components/transactions/TransactionsListItem.js
  packages/frontend/src/components/transfers/TransfersListItem.js
  packages/frontend/src/util/datetime.js
Labels: frontend

#439 Receiver Id and Purchase price API
  packages/api/src/utils.js
Labels: backend

#440 Update price field price API
  packages/api/src/utils.js
Labels: backend

#437 Add app hash in the indexer
  packages/api/test/utils/fixtures.js
  packages/indexer/Cargo.lock
  packages/indexer/Cargo.toml
  packages/indexer/Dockerfile
  packages/indexer/migrations/V48__add_block_apphash.sql
  packages/indexer/src/entities/block_header.rs
  packages/indexer/src/entities/identity.rs
  packages/indexer/src/indexer/mod.rs
  packages/indexer/src/models/mod.rs
  packages/indexer/src/processor/psql/dao/mod.rs
Labels: indexer

#441 Naming fix for decoded MN vote TX
  packages/api/README.md
  packages/api/src/utils.js
  packages/api/test/unit/utils.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#431 Update transactions chart format
  packages/frontend/src/app/home/Home.js
  packages/frontend/src/app/transactions/page.js
  packages/frontend/src/components/charts/ChartBlock.scss
  packages/frontend/src/components/charts/LineChartBlock.js
  packages/frontend/src/components/charts/TimeframeMenu.scss
  packages/frontend/src/components/charts/TimeframeSelector.js
  packages/frontend/src/components/charts/TransactionsHistory.js
  packages/frontend/src/util/Api.js
Labels: frontend

#443 Fix indexer block header typo
  packages/indexer/src/entities/block_header.rs
  packages/indexer/src/processor/psql/dao/mod.rs
Labels: indexer

#406 New fields for documents and list of documents by document type
  packages/api/README.md
  packages/api/src/controllers/DocumentsController.js
  packages/api/src/controllers/MainController.js
  packages/api/src/dao/DataContractsDAO.js
  packages/api/src/dao/DocumentsDAO.js
  packages/api/src/dao/IdentitiesDAO.js
  packages/api/src/models/Document.js
  packages/api/src/routes.js
  packages/api/src/utils.js
  packages/api/test/integration/data.contracts.spec.js
  packages/api/test/integration/documents.spec.js
  packages/api/test/integration/identities.spec.js
  packages/api/test/integration/main.spec.js
  packages/api/test/unit/utils.spec.js
  packages/api/test/utils/fixtures.js
  packages/frontend/src/app/api/content.md
Labels: backend

#425 Masternodes Votes API
  packages/api/README.md
  packages/api/src/controllers/BlocksController.js
  packages/api/src/controllers/EpochController.js
  packages/api/src/controllers/MasternodeVotesController.js
  packages/api/src/dao/BlocksDAO.js
  packages/api/src/dao/EpochDAO.js
  packages/api/src/dao/MasternodeVotesDAO.js
  packages/api/src/dao/ValidatorsDAO.js
  packages/api/src/enums/ChoiceEnum.js
  packages/api/src/models/BlockHeader.js
  packages/api/src/models/EpochData.js
  packages/api/src/models/Validator.js
  packages/api/src/models/Vote.js
  packages/api/src/routes.js
  packages/api/src/schemas.js
  packages/api/src/server.js
  packages/api/test/integration/blocks.spec.js
  packages/api/test/integration/epochs.spec.js
  packages/api/test/integration/main.spec.js
  packages/api/test/integration/validators.spec.js
  packages/api/test/integration/votes.spec.js
  packages/api/test/utils/fixtures.js
  packages/frontend/src/app/api/content.md
Labels: backend

#436 Improve Transaction page
  packages/frontend/src/app/dataContract/[identifier]/DataContract.js
  packages/frontend/src/app/transaction/[hash]/TransactionData.js
  packages/frontend/src/app/transaction/[hash]/TransactionPage.js
  packages/frontend/src/app/transaction/[hash]/TransactionPage.scss
  packages/frontend/src/components/data/CodeBlock.js
  packages/frontend/src/components/data/CodeBlock.scss
  packages/frontend/src/components/data/PrefundedBalance.js
  packages/frontend/src/components/data/VoteChoice.js
  packages/frontend/src/components/data/index.js
  packages/frontend/src/components/dataContracts/DataContractSchema.scss
  packages/frontend/src/components/dataContracts/InternalConfigCard.js
  packages/frontend/src/components/dataContracts/InternalConfigCard.scss
  packages/frontend/src/components/dataContracts/index.js
  packages/frontend/src/components/transactions/PublicKeyCard.js
  packages/frontend/src/components/transactions/TransitionCard.js
  packages/frontend/src/components/transactions/TransitionCard.scss
  packages/frontend/src/components/transactions/VoteIndexValues.js
  packages/frontend/src/components/transactions/VoteIndexValues.scss
  packages/frontend/src/components/transactions/index.js
  packages/frontend/src/components/ui/containers/ValueContainer.scss
Labels: frontend

#444 Fix non-existent component bug
  packages/frontend/src/components/transfers/withdrawals/WithdrawalsListItem.js
Labels: frontend

#446 Fix timespan title in chart on the Home page
  packages/frontend/src/components/charts/TimeframeSelector.js
Labels: frontend

#450 Interval count fix for graphs
  packages/api/src/controllers/TransactionsController.js
  packages/api/src/dao/TransactionsDAO.js
  packages/api/test/integration/transactions.spec.js
Labels: backend
