Repository pshenmic/platform-explorer, pull requests merged in 2025-05, with the labels that each got.

#560 Contested resource fix
  packages/api/src/controllers/ContestedResourcesController.js
  packages/api/src/dao/ContestedResourcesDAO.js
Labels: backend

#564 Fields naming fix in Epoch status
  packages/api/README.md
  packages/api/src/models/EpochData.js
  packages/api/test/integration/epochs.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#556 Create Masternode Votes page
  packages/frontend/src/app/masternodeVotes/MasternodeVotes.js
  packages/frontend/src/app/masternodeVotes/MasternodeVotes.scss
  packages/frontend/src/app/masternodeVotes/intro.md
  packages/frontend/src/app/masternodeVotes/page.js
  packages/frontend/src/components/cards/dashboard/ContestedResourceContent.js
  packages/frontend/src/components/cards/dashboard/ContestedResourceContent.scss
  packages/frontend/src/components/cards/dashboard/ExpiringContestedResourceContent.js
  packages/frontend/src/components/cards/dashboard/FeesCollectedCardContent.js
  packages/frontend/src/components/cards/dashboard/FeesCollectedCardContent.scss
  packages/frontend/src/components/cards/dashboard/VoterCardContent.js
  packages/frontend/src/components/cards/dashboard/index.js
  packages/frontend/src/components/contestedResources/ContestedResourcesDashboardCards.js
  packages/frontend/src/components/contestedResources/MasternodeVotesDashboardCards.js
  packages/frontend/src/components/contestedResources/MasternodeVotesDashboardCards.scss
  packages/frontend/src/components/contestedResources/MasternodeVotesFilters.js
  packages/frontend/src/components/contestedResources/index.js
  packages/frontend/src/components/layout/Background.js
  packages/frontend/src/components/layout/navbar/Navbar.js
  packages/frontend/src/components/ui/icons/index.js
  packages/frontend/src/components/ui/menus/MenuLevel.scss
  packages/frontend/src/util/Api.js
Labels: frontend

#558 Update global layout
  packages/frontend/src/app/blocks/Blocks.js
  packages/frontend/src/app/blocks/page.js
  packages/frontend/src/app/contestedResources/ContestedResources.js
  packages/frontend/src/app/contestedResources/page.js
  packages/frontend/src/app/dataContracts/DataContracts.js
  packages/frontend/src/app/dataContracts/page.js
  packages/frontend/src/app/home/Home.js
  packages/frontend/src/app/identities/Identities.js
  packages/frontend/src/app/identities/page.js
  packages/frontend/src/app/masternodeVotes/MasternodeVotes.js
  packages/frontend/src/app/masternodeVotes/page.js
  packages/frontend/src/app/transactions/Transactions.js
  packages/frontend/src/app/transactions/page.js
  packages/frontend/src/app/validators/Validators.js
  packages/frontend/src/app/validators/page.js
  packages/frontend/src/components/blocks/_variables.scss
  packages/frontend/src/components/cards/dashboard/TotalValidatorsCardContent.scss
  packages/frontend/src/components/contestedResources/_variables.scss
  packages/frontend/src/components/contestedResources/votes/_variables.scss
  packages/frontend/src/components/intro/Intro.scss
  packages/frontend/src/components/layout/Background.js
  packages/frontend/src/components/layout/Background.scss
  packages/frontend/src/components/total/TotalInfo.js
  packages/frontend/src/components/transactions/_variables.scss
  packages/frontend/src/components/transfers/_variables.scss
  packages/frontend/src/components/ui/containers/PageDataContainer.scss
  packages/frontend/src/styles/theme.js
Labels: frontend

#567 Reduce maximum width of page content
  packages/frontend/src/styles/theme.js
Labels: frontend

#570 First quorum info fix
  packages/api/src/controllers/BlocksController.js
  packages/api/src/models/Quorum.js
Labels: backend

#483 Indexer tokens support
  packages/api/test/utils/drop.js
  packages/indexer/Cargo.lock
  packages/indexer/Cargo.toml
  packages/indexer/Dockerfile
  packages/indexer/migrations/V51__token_transitions.sql
  packages/indexer/migrations/V52__tokens.sql
  packages/indexer/migrations/V53__add_data_contract_format_version.sql
  packages/indexer/src/entities/data_contract.rs
  packages/indexer/src/entities/document.rs
  packages/indexer/src/entities/mod.rs
  packages/indexer/src/entities/token_config.rs
  packages/indexer/src/processor/psql/dao/data_contracts.rs
  packages/indexer/src/processor/psql/dao/mod.rs
  packages/indexer/src/processor/psql/dao/token.rs
  packages/indexer/src/processor/psql/handlers/handle_batch.rs
  packages/indexer/src/processor/psql/handlers/handle_data_contract.rs
  packages/indexer/src/processor/psql/handlers/handle_documents.rs
  packages/indexer/src/processor/psql/handlers/handle_st.rs
  packages/indexer/src/processor/psql/handlers/handle_token_configuration.rs
  packages/indexer/src/processor/psql/handlers/mod.rs
  packages/indexer/src/processor/psql/mod.rs
Labels: indexer

#571 Fix for migration on platform v2
  packages/indexer/migrations/V54__change_document_owner_type.sql
  packages/indexer/src/processor/psql/dao/token.rs
  packages/indexer/src/processor/psql/handlers/handle_batch.rs
Labels: indexer

#572 Decode Token Transitions
  packages/api/README.md
  packages/api/package.json
  packages/api/src/enums/StateTransitionEnum.js
  packages/api/src/enums/TokenTransitionsEnum.js
  packages/api/src/utils.js
  packages/api/test/integration/data.contracts.spec.js
  packages/api/test/integration/documents.spec.js
  packages/api/test/integration/identities.spec.js
  packages/api/test/integration/main.spec.js
  packages/api/test/integration/transactions.spec.js
  packages/api/test/unit/mocks/document_transition.json
  packages/api/test/unit/mocks/token_transition.json
  packages/api/test/unit/utils.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend
