Repository pshenmic/platform-explorer, pull requests merged in 2025-06, with the labels that each got.

#573 More fields for decoded token transitions
  packages/api/package.json
  packages/api/src/utils.js
  packages/api/test/unit/mocks/token_mint_transition.json
  packages/api/test/unit/mocks/token_transfer_transition.json
  packages/api/test/unit/utils.spec.js
Labels: backend

#574 Fix naming for token transitions
  packages/api/README.md
  packages/api/src/enums/StateTransitionEnum.js
  packages/api/src/enums/TokenTransitionsEnum.js
  packages/api/src/utils.js
  packages/api/test/unit/utils.spec.js
  packages/frontend/src/app/api/content.md
Labels: backend

#575 Token transactions details
  packages/frontend/src/components/documents/DocumentTransitionCard.js
  packages/frontend/src/components/documents/DocumentTransitionCard.scss
  packages/frontend/src/components/documents/index.js
  packages/frontend/src/components/tokens/TokenTransitionBadge.js
  packages/frontend/src/components/tokens/TokenTransitionCard.js
  packages/frontend/src/components/tokens/TokenTransitionCard.scss
  packages/frontend/src/components/tokens/index.js
  packages/frontend/src/components/transactions/TransitionCard.js
  packages/frontend/src/components/transactions/TransitionCard.scss
  packages/frontend/src/enums/tokenTransition.js
  packages/frontend/src/styles/mixins.scss
  packages/frontend/src/styles/mixins/BaseTransitionCard.scss
Labels: frontend

#579 Add BatchType to state transitions
  packages/api/src/dao/TransactionsDAO.js
  packages/api/src/models/Transaction.js
  packages/api/test/integration/identities.spec.js
  packages/api/test/integration/main.spec.js
  packages/api/test/integration/transactions.spec.js
  packages/api/test/utils/fixtures.js
  packages/indexer/migrations/V55__add_batch_type_to_state_transitions.sql
  packages/indexer/src/enums/batch_type.rs
  packages/indexer/src/enums/mod.rs
  packages/indexer/src/main.rs
  packages/indexer/src/processor/psql/dao/state_transitions.rs
  packages/indexer/src/processor/psql/handlers/handle_st.rs
Labels: indexer, backend

#583 Fix token receiver is optional
  packages/indexer/src/processor/psql/dao/token.rs
Labels: indexer

#566 Withdrawals documents skip parameters
  packages/api/README.md
  packages/api/src/controllers/IdentitiesController.js
  packages/api/src/schemas.js
  packages/api/src/utils.js
  packages/frontend/src/app/api/content.md
Labels: backend

#559 Last epoch endpoint
  packages/api/README.md
  packages/api/src/controllers/EpochController.js
  packages/api/src/routes.js
  packages/frontend/src/app/api/content.md
Labels: backend

#582 Fix timestamp in tests
  packages/api/src/dao/ContestedResourcesDAO.js
  packages/api/src/dao/TransactionsDAO.js
  packages/api/src/enums/BatchEnum.js
  packages/api/src/utils.js
  packages/api/test/integration/contested.spec.js
  packages/api/test/integration/identities.spec.js
  packages/api/test/integration/main.spec.js
  packages/api/test/integration/transactions.spec.js
  packages/api/test/unit/utils.spec.js
  packages/indexer/Cargo.lock
  packages/indexer/Cargo.toml
Labels: backend

#590 Improve filter logic
  packages/frontend/src/app/blocks/Blocks.js
  packages/frontend/src/app/masternodeVotes/MasternodeVotes.js
  packages/frontend/src/app/transactions/Transactions.js
  packages/frontend/src/components/blocks/BlocksFilter.js
  packages/frontend/src/components/contestedResources/MasternodeVotesFilters.js
  packages/frontend/src/components/filters/Filters.js
  packages/frontend/src/components/transactions/TransactionsFilter.js
Labels: frontend

#596 Implement links to nearby blocks
  packages/frontend/src/components/blocks/BlockTotalCard.js
  packages/frontend/src/components/blocks/BlockTotalCard.scss
  packages/frontend/src/components/blocks/_variables.scss
Labels: frontend
